.appointment-card {
    border: 2px solid #5d716d; 
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    width: 22rem; 
    max-width: 90vw; 
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1); 
    margin-left: auto; 
    margin-right: auto; 
}

.card-content {
    font-size: 1rem; 
    margin-bottom: 1rem;
}

.class-detail {
    font-size: 0.875rem; 
    margin-bottom: 0.625rem;
}

.btn {
    font-size: 0.875rem; 
    margin-top: 0.625rem;
    margin-right: 0.625rem; 
}

.btn-danger {
    color: white;
    background-color: #e45546;
    border-color: #eb5847;
}

.btn-secondary {
    color: white;
    background-color: #688072; 
    border-color: #648371;
}

