.brand-text-all {
    font-size: 3vw;
    color: #ffffff;
    font-weight: bold; /* Asegura que el texto en negrita sea más audaz */
  }
  
  .brand-text-number {
    font-size: 4vw;
    color: #ff0080;
    font-weight: bold; /* Asegura que el texto en negrita sea más audaz */
  }
  
  .brand-text-dancing {
    font-size: 2vw;
    color: #ffffff;
    font-weight: bold; /* Asegura que el texto en negrita sea más audaz */
  }
 