/* Estilos para el contenedor del mensaje de bienvenida */
.welcome-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff; /* Cambia el color del texto a blanco */
    padding: 2vw;
}

.welcome-container p {
    font-size: 4vw;
    margin-bottom: 1vw;
    color: #ffffff; /* Cambia el color del texto a blanco */
}

.welcome-container strong {
    font-size: 5vw;
    color: #ffffff; /* Cambia el color del texto a blanco */
}


.cta-button {
    padding: 10px 20px;
    font-size: 35px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transiciones suaves para los cambios */
}

.cta-button:hover {
    transform: scale(1.05); /* Aumenta el tamaño del botón al 105% */
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Ilumina el borde con un efecto dorado */
    background-color: #ff0080;
}

/* Estilos para el contenedor del video de fondo */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.logo {
    font-family: 'Dancing Script', cursive; /* Usa una fuente que evoca movimiento y baile */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto para resaltar */
  }
  
  strong {
    font-weight: bold; /* Asegura que el texto en negrita sea más audaz */
    color: #ffd700; /* Color dorado */
    
  }

  .all-text {
    font-size: 5vw; /* Tamaño de la palabra "All" */
    color: #ffffff; /* Color para la palabra "All" */
  }
  
  .dancing-text {
    font-size: 4vw; /* Tamaño de la palabra "Dancing" */
    color: #ffffff; /* Color para la palabra "Dancing" */
  }
  
  .number-text {
    font-size: 6vw; /* Tamaño del número "4" */
    color: #ff0080; /* Color para el número "4" */
  }
  
  