
.welcome-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff; 
    padding: 2vw;
}

.welcome-container p {
    font-size: 4vw;
    margin-bottom: 1vw;
    color: #ffffff; /
}

.welcome-container strong {
    font-size: 5vw;
    color: #ffffff; /
}


.cta-button {
    padding: 10px 20px;
    font-size: 35px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
}

.cta-button:hover {
    transform: scale(1.05); 
    background-color: #ff0080;
}

/* Estilos para el contenedor del video de fondo */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.logo {
    font-family: 'Dancing Script', cursive; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  }
  
  strong {
    font-weight: bold; 
    color: #ffd700; 
    
  }

  .all-text {
    font-size: 5vw; /* Tamaño de la palabra "All" */
    color: #ffffff; 
  }
  
  .dancing-text {
    font-size: 4vw; /* Tamaño de la palabra "Dancing" */
    color: #ffffff; 
  }
  
  .number-text {
    font-size: 6vw; /* Tamaño del número "4" */
    color: #ff0080; 
  }
  
  